<!DOCTYPE html>
<html>

<body>
<form action="{{url_for('deleteMovieList',movie_id=lists.movie_id,list_id=lists.id)}}" method="POST">
		name<br><input type="text" name="name" ><br>
		description<br><textarea name="about" rows="5" cols="100" ></textarea><br>
		languages_id<br><input type="text" name="languages_id" ><br>
		user_id<br><input type="text" name="user_id" ><br>
		<button>Delete</button>
		<button><a href="{{url_for('showMovies',languages_id=lists.movie_id)}}">Cancel</a></button>
</form>
</body>
</html>